li {
  list-style: none;
}
.card {
  border-radius: 20px;
  padding: 1rem;
  background-image: linear-gradient(to top, #00a559, #00ba8b);
}
.input-note {
  width: 100%;
  resize: none;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  background-color: transparent;
  border: none;
  height: 190px;
}
.input-note:focus {
  outline: none;
}
.card-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.current-card {
  border: 2px solid black;
}
.input-note::placeholder {
  color: white;
}
.delete-note-btn {
  color: rgb(124, 4, 4);
}
.delete-note-btn:hover {
  cursor: pointer;
}
